.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .form {
    text-align: center;
  }
  #form-search { 
    width: 450px;
    line-height: 12px;
    padding: 10px 10px;
    position: relative;
bottom: 120px;
  }
  .right {
    position: absolute;
    right: 420px;
    width: 300px;
    bottom: 230px;
    
    
  }
  .left{
    position: absolute;
    left: 420px;
    width: 300px;
    bottom: 230px;
   
  }